.main-header {
  --gap: 1.3rem;

  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.header-intro {
  --gap: 1.3rem;

  justify-content: center;
  align-items: center;
}

.header-intro img {
  max-width: 50%;
  filter: invert(26%) sepia(8%) saturate(4038%) hue-rotate(181deg) brightness(91%) contrast(90%);
}

.intro-title {
  --gap: 0.5rem;
}

.header-search {
  width: 100%;
  padding: 0.5rem;
}

.header-search input {
  padding: 0.5rem;
  width: 100%;
  border: 0;
  border-radius: 0.2rem;
}

.countries {
  background: var(--clr-blue);
}

.countries-title {
  background-color: var(--clr-dark-blue);
  padding: 1rem;
}

.countries-cards {
  grid-template-columns: repeat(2, 1fr);
  gap: 0;
}

.country-card {
  position: relative;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  min-height: 100%;
}

.countries-cards a {
  background-image: url(../../assets/images/country-bg-light.png);
}

.countries-cards a:nth-child(4n + 1) {
  background-image: url(../../assets/images/country-bg-dark.png);
}

.countries-cards a:nth-child(4n) {
  background-image: url(../../assets/images/country-bg-dark.png);
}

.country-card i {
  position: absolute;
  display: block;
  right: 0.5rem;
  top: 0.5rem;

  --gap: 0.8rem;
}

.country-card img {
  max-width: 85%;
  filter: invert(26%) sepia(8%) saturate(4038%) hue-rotate(181deg) brightness(91%) contrast(90%);
}

.card-name {
  --gap: 0.4rem;

  width: 100%;
}

.card-name h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
  text-align: right;
}

.country-card p {
  font-style: normal;
  font-size: 0.8rem;
  width: 100%;
  font-weight: 300;
  text-align: right;
}
